.banner-section {
    position: relative;
    height: 400px;
    background-image: url("https://d2hijos0r2m9rf.cloudfront.net/uploads/blog_image/blog_75.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 4%;
  }
  
  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55); /* lớp đen phủ mờ */
    z-index: 1;
  }
  
  .banner-section .container {
    position: relative;
    z-index: 2; /* để chữ nằm trên overlay */
  }
  